.profile {
  max-width: 500px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile__body {
  margin-top: -70px;
  background: white;
  width: 100%;
  padding: 50px;
}

.profile-content {
  margin-top: 10px;
}

.profile__icon {
  width: 150px;
  height: 150px;
  background-image: url('../../images/pp.jpeg');
  background-position: 60% 45%;
  background-size: 160%;
  border: 7px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: white;
  z-index: 1;
}

.profile-content__header {
  letter-spacing: 7px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 40px;
}

.profile-content__subheader {
  margin-top: 0;
  padding-top: 0;
  line-height: 80%;
  color: DarkSlateGray;
}

.profile-content__emoji-divider {
  letter-spacing: 10px;
}

.profile-content__paragraph {
  margin: 30px;
}

.profile-content__links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-link,
.profile-link:active,
.profile-link:visited {
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  padding: 10px;
  background-color: #f0f0f0;
  width: 200px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px;
}

.profile-link:hover,
.profile-link:visited:hover {
  font-weight: 900;
  letter-spacing: 2px;
  color: #222;
}

/* @media screen and (max-width: 768px) {
  .profile-content__links { height: auto; }
} */

/* .pink-link,
.pink-link:active,
.pink-link:visited {
  color: #fc9d9a;
}

.blue-link,
.blue-link:active,
.blue-link:visited {
  color: #ffc857;
}

.green-link,
.green-link:active,
.green-link:visited {
  color: #83af9b;
} */
